body {
   font-family: 'Courier New', Courier, monospace;
   text-align: center;
   background-color:rgb(116, 58, 58);
   /* background-color:rgb(88, 52, 106); */

}

body h1{
    /* position: relative; */
    right: 250px;
}

#gameOverText {
    color: white;
}

#overlay {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: white;
    z-index: 1; /* Set a higher z-index to make it appear above the base element */
    display: none; /* Initially hide the overlay */
}

#btnRestart {
    color: white;
}