body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #222;
    color: #fff;
}

#game-container {
    position: relative;
}

#health-display {
    margin: 0;
    padding: 0;
    display: none;
}
